{% extends 'shared/base.html' %}

{% block content %}
    <section id="librarian-details">
        <h1>{{ librarian.first_name }} {{ librarian.last_name }}</h1>
        <h2>By {{ librarian.email }}</h2>
    </section>


    <section id="librarian-actions" style="display:flex;">
        <form action="{% url 'libraryapp:librarian' librarian.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>
    </section>
{% endblock %}