{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Steve Brownlee Coaching</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />

    {% block css %}
    {% endblock %}
</head>

<body>

    <nav class="navbar">
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>


            <div class="menu">
                <li class="navbar__item">
                    <a href="{% url 'coaching:home' %}">Steve</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'coaching:process' %}">The Process</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'coaching:home' %}">Book Consultation</a>
                </li>
                {% if not user.is_authenticated %}
                    <li class="navbar__item pullRight">
                        <a class="rightNav" href="{% url 'coaching:profile' %}">Profile</a>
                        <a class="rightNav" href="{% url 'coaching:logout' %}">Sign Out</a>
                    </li>
                {% else %}
                <li class="navbar__item pullRight">
                    <a href="{% url 'coaching:login' %}">Sign In</a>
                </li>
                {% endif %}
            </div>
        </ul>
    </nav>

    {% block header %}
    <header class="header">
        <img class="logo__image" src="{% static 'images/logo.png' %}" alt="Steve Brownlee Coaching" />
    </header>
    {% endblock %}

    <main class="main">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}
</body>

</html>