@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import './navbar.css';
@import './intro.css';

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.main {
    padding: 1em 15em;
}

@media (max-width: 1150px) {
    .main {
        padding: 1em 6em;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 1em 3em;
    }
}

.h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}


.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 2rem 10rem;
}


.rightNav {
    margin: 0 0 0 1rem;
}

.pullRight {
    margin-left: auto;
}

.table {
    border: 1px dotted black;
}

.tr {
    border: 1px dotted #000;
}

.table-row-prompt {
    background-color: rgb(235, 237, 254);
    padding: 2rem;
}

.table-row-content {
    padding: 2rem;
}

.table-row-header {
    padding: 0 4rem;
    font-weight: bolder;
}