{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

<article class="intro">
    <img class="intro__image" src="{% static 'images/headshot.png' %}" alt="Steve Brownlee Coaching" />

    <aside class="intro__about">
        <h1 class="h1">Hi! I'm Steve</h1>
        <p>
            Coaching is a partnership that I relish building with people to activate the growth
            they want in their lives, and reach the personal and career goals that will bring joy.
        </p>
        <p>
            I've enjoyed being a mentor, public speaker and leader of technical teams since 2001.
            Since 2015 I've been focused on building a program
        </p>
        <p></p>
        <p></p>
        <p></p>
    </aside>
</article>

{% endblock %}