{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

<article class="intro">
    <img class="intro__image" src="{% static 'images/headshot.png' %}" alt="Steve Brownlee Coaching" />

    <aside class="intro__about">
        <h1 class="h1">Welcome to Steve Brownlee Coaching</h1>
        <p>
            Coaching is a partnership that I relish building with people to activate the growth
            they want in their lives, and reach the personal and career goals that will bring joy.
        </p>
    </aside>
</article>

{% endblock %}