{% extends 'shared/base.html' %}

{% block content %}

<h1><span>WHAT IS COACHING?</span></h1>

<p ><span >Coaching is an outcome focused process, with the goal being to support you to move forward confidently to the goals that you set for yourself. &nbsp;My job is to facilitate your movement from where you are now to where you want to be. We will have a partnership that allows you to have control of the entire process. </span></p>

<p ><span ></span></p>

<p ><span>You will set the intention for each session, identify your goals, and bring forward any blockages or challenges. You do this within a structure and a process provided by your coach.</span></p>
<p ><span ></span></p>

<h1><span >WHAT COACHING IS NOT</span></h1>

<p ><span ></span></p>

<table class="table">
    <tr class="tr" >
        <td class="table-row-prompt" colspan="1" rowspan="1">
            <p><span >Training</span></p>
        </td>
        <td class="table-row-content" colspan="1" rowspan="1">
            <p><span >Coaching is a process of self-discovery and self-direction facilitated by a coach. The coach does not bestow any expert knowledge or tell a client what should be done because there are no predefined or expected goals defined by the coach.</span></p>
        </td>
    </tr>
    <tr class="tr" >
        <td class="table-row-prompt" colspan="1" rowspan="1">
            <p ><span >Therapy</span></p>
        </td>
        <td class="table-row-content" colspan="1" rowspan="1">
            <p>
                <span >
                    A therapist is an expert in diagnosing and treating their clients&rsquo; mental health issues. A therapist can explore past experiences with the client to help make changes to behaviors for a happier today. Coaching is forward looking and focused specifically on helping the client achieve their goals.
                </span>
            </p>
        </td>
    </tr>
    <tr class="tr" >
        <td class="table-row-prompt" colspan="1" rowspan="1">
            <p><span >Consulting</span></p>
        </td>
        <td class="table-row-content" colspan="1" rowspan="1">
            <p>Consultants are experts hired by people to assess situations, analyze findings, and then make specific recommendations for a plan of action. Coaches facilitate a client to do all of that work themselves and discover how powerful and capable they are.</p>
        </td>
    </tr>
    <tr class="tr" >
        <td class="table-row-prompt" colspan="1" rowspan="1">
            <p><span >Mentoring</span></p>
        </td>
        <td class="table-row-content" colspan="1" rowspan="1">
            <p><span >A mentor is an expert in a field and provides constant guidance and knowledge to a mentee to obtain their own expertise in that field. Coaching is client driven by nature and is a true partnership to help clients achieve whatever goals they need or want.</span></p>
        </td>
    </tr>
</table>
<p ><span ></span></p>
<p ><span ></span></p>

<h1><span >ADDITIONAL COACHING INFORMATION</span></h1>

<p >
    <span>Watch the video &ldquo;</span>
    <span >
        <a href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3DYi367FBm8Ik&amp;sa=D&amp;source=editors&amp;ust=1663435206966619&amp;usg=AOvVaw1HbcEza2bDb8PO3Act3P9_">What is Coaching? How Coaching Works, the Coaching Process, Coaching Benefits</a>
    </span>
    <span >&rdquo; to learn more.</span>
</p>

<p ><span ></span></p>

<p >
    You can also read <a href="https://www.google.com/url?q=https://coachingfederation.org/app/uploads/2018/06/UnlockYourPotential.pdf&amp;sa=D&amp;source=editors&amp;ust=1663435206967036&amp;usg=AOvVaw3XYVK4oU2CsNmXMwrDIyGm">Unlock Your Potential</a> from the International Coaching Federation to learn more about the benefits of coaching.
</p>

<h1><span >ENGAGEMENT PROCESS OVERVIEW</span></h1>

<h2><span>STEP 1 - THE CONSULTATION</span></h2>

<p ><span>We will schedule a time for a 30-minute consultation where we will identify your needs for the coaching engagement. The goals and measures of success will be discussed and defined by you. I will also provide a detailed description of my coaching philosophy and process.</span></p>

<h2><span >STEP 2 - THE PROPOSAL</span></h2>

<p ><span >The coach will send a written proposal of service that details the goals and measures of success as defined by the client. The client can request changes to the proposal or mark it as accepted or rejected. The possible coaching packages will be detailed in the proposal, and the client will select which package is needed in the document.</span></p>

<h2><span >STEP 3 - THE CONTRACT</span></h2>

<p ><span >The coach will send a contract to the client that specifies the terms of the engagement. It will contain the rates and schedule of the package chosen by the client.</span></p>

<p ><span ></span></p>

<h2><span >STEP 4 - THE COACHING SESSIONS</span></h2>

<p ><span >Each coaching session will run for 50 minutes, and will follow this general process.</span></p>

<table class="table">
    <tr class="tr" >
        <td class="table-row-prompt" colspan="1" rowspan="1">
            <p><span >Agreement</span></p>
        </td>
        <td class="table-row-content" colspan="1" rowspan="1">
            <p ><span>At the beginning of each session, we will define what you would like to accomplish that session. You will define the measure of success. After the first session, this will involve a brief review of actions taken since the last session.</span></p>
        </td>
    </tr>
    <tr class="tr" >
        <td class="table-row-prompt" colspan="1" rowspan="1">
            <p><span >Discovery</span></p>
        </td>
        <td class="table-row-content" colspan="1" rowspan="1">
            <p ><span>Once we agree upon the goals of the current session, we will discuss This will involve a discussion around where you currently stand, and what measurable outcomes you are hoping to achieve.</span></p>
        </td>
    </tr>
    <tr class="tr" >
        <td class="table-row-prompt" colspan="1" rowspan="1">
            <p><span >Review</span></p>
        </td>
        <td class="table-row-content" colspan="1" rowspan="1">
            <p ><span>Before the end of the session, we will review what was learned, discovered, and defined. We will make sure you are clear on the actions that you committed to and ensure that you got everything out of the session that you wanted.</span></p>
        </td>
    </tr>
</table>

{% endblock %}